body {
    width: 100vw;
}

div {
    width: 1200;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

header {
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    flex-direction: column;
    align-content: center;
    
}

footer {
    display: flex;
    justify-content: center;
}