@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

h1 {
    font-family: 'Permanent Marker', cursive;
}

section {
    height: 300px;
    margin: 30px;
    float: left;
}

img {
    height: 150px;
    max-width: 250px;
}

p {
    max-width: 250px;
}